<script lang="ts">
	import { setContext } from 'svelte';
	import Menu from './Menu.svelte';
	import type { ContextMenuParams } from './ContextMenu.type';

	let state = {
		x: 0,
		y: 0,
		opts: []
	};

	let visible = false;

	let key = 'context-menu';

	const defaultOpen = (a: ContextMenuParams) => {
		state = a;
		visible = !visible;
	};

	setContext(key, {
		open: defaultOpen
	});
</script>

{#if visible}
	<div on:contextmenu|preventDefault={() => {}} style="left: {state.x}px; top: {state.y}px;">
		<Menu opts={state.opts} />
	</div>
{/if}
<slot />

<style>
	div {
		position: absolute;
		background-color: aqua;
	}
</style>
