<script lang="ts">
	import type { Option } from './ContextMenu.type';
	import MenuOption from './MenuOption.svelte';

	export let opts: Option[];
</script>

<div>
	{#each opts as opt}
		<MenuOption {opt} />
	{/each}
</div>

<style>
	div {
		width: 100px;
	}
</style>
