<script lang="ts">
	import type { Option } from './ContextMenu.type';

	export let opt: Option;
</script>

<div on:click={opt.callback}>{opt.text}</div>

<style>
	div {
		display: block;

		height: 20px;
	}
</style>
