<script lang="ts">
	import type { CardT } from '$lib/api/card';

	export let submit: (c: CardT) => void;

	import { getContext } from 'svelte';
	import CardModal from './CardModal.svelte';

	const { open, close } = getContext<any>('simple-modal');

	const OpenCreateCardModal = () =>
		open(CardModal, {
			buttonText: 'Create',
			closeFunc: close,
			submitFunc: submit
		});
</script>

<div on:click={() => OpenCreateCardModal()}>+</div>

<style>
	div {
		display: block;

		/* vertically center text */
		height: 100px;
		line-height: 100px;

		/* hide text until hover */
		font-size: 0;
		color: blue;

		margin: 5px;

		/* Added otherwise when the user hovers over the box, the
		 * border will be added and will visbly move the other elements
		 * */
		border: 2px dashed transparent;
	}

	div:hover {
		border: 2px dashed blue;
		font-size: 30px;
	}
</style>
