<script lang="ts">
	import type { ColumnT } from '$lib/api/column';
	import { AddColumn } from '$lib/api/column';

	import { getContext } from 'svelte';
	import { getBoardContext } from './context';
	import ColumnModal from './ColumnModal.svelte';

	const { open, close } = getContext<any>('simple-modal');
	const board = getBoardContext().board;

	const OpenCreateColumnModal = () =>
		open(ColumnModal, {
			buttonText: 'Create',
			close: close,
			submitFunc: (c: ColumnT) =>
				AddColumn({
					boardID: board.id,
					column: c,
					index: 0
				})
		});
</script>

<div on:click={() => OpenCreateColumnModal()}>+</div>

<style>
	div {
		margin: 5px;
		height: 80%;
		width: 20px;
		line-height: 80%;
		color: blue;

		/* hide text until hover */
		font-size: 0;

		/* Added otherwise when the user hovers over the box, the
		 * border will be added and will visbly move the other elements
		 * */
		border: 2px dashed transparent;
	}

	div:hover {
		border: 2px dashed blue;
		font-size: 30px;
	}
</style>
