<script lang="ts">
	import { UpdateColumn, DeleteColumn, type ColumnT } from '$lib/api/column';
	import type { BoardT } from '$lib/api/board';

	import Column from './Column.svelte';
	import AddColumn from './AddColumn.svelte';

	// TODO not good, should be isolated with no dependancies
	import type { ContextMenuParams } from '$lib/components/MyContextMenu/ContextMenu.type';
	export let board: BoardT;

	import { setBoardContext } from './context';

	setBoardContext({ board: board });

	console.log('loaded board: ', board);

	// add the position tag for the drag-and-drop library
	let columns = board.columns.map((col, i) => ({ id: i, data: col }));

	function updateCol(c: ColumnT) {
		UpdateColumn({
			boardID: board.id,
			column: c
		});
	}

	const getContextMenu = (col: ColumnT): ContextMenuParams => ({
		x: 0,
		y: 0,
		opts: [
			{
				text: 'Edit',
				callback: () => console.log('it was called')
			},
			{
				text: 'Move',
				callback: () => console.log('thing was moved')
			},
			{
				text: 'Delete',
				callback: () => {
					DeleteColumn({ boardID: board.id, columnID: col.id });
				}
			}
		]
	});
</script>

<div>
	<AddColumn />
	{#each columns as col}
		<Column {updateCol} col={col.data} contextMenu={getContextMenu(col.data)} />
		<AddColumn />
	{/each}
</div>

<style>
	div {
		/* still not 100% sure how this works */
		display: flex;
		background-color: white;

		height: 800px;
		width: 800px;
	}
</style>
