<script lang="ts">
	import type { BoardT } from '$lib/api/board';

	export let buttonText = '';
	export let board = {} as BoardT;
	export let close: () => void;
	export let submitFunc: (c: BoardT) => void;

	function onSubmit() {
		console.log(board);
		submitFunc(board);
		close();
	}
</script>

<form on:submit|preventDefault={onSubmit}>
	<div>
		<label for="name">Title</label>
		<input type="text" id="title" name="title" bind:value={board.name} />
	</div>
	<button type="submit">{buttonText}</button>
</form>
