<script lang="ts">
	import type { CardT } from '$lib/api/card';
	import { EditCard } from '$lib/api/card';

	import { getContext } from 'svelte';
	import { getBoardContext } from './context';

	import CardModal from './CardModal.svelte';

	export let card: CardT;

	const { open, close } = getContext<any>('simple-modal');
	const boardID = getBoardContext().board.id;

	const OpenEditCardModal = (c: CardT) =>
		open(CardModal, {
			buttonText: 'Edit',
			closeFunc: close,
			card: c,
			submitFunc: (cardParam: CardT) => {
				card = cardParam;
				// TODO make the update function an input of the component
				EditCard({
					boardID: boardID,
					card: cardParam
				});
			}
		});

	import type { ContextMenuContext } from '$lib/MyContextMenu/ContextMenu.type';

	let p = getContext<ContextMenuContext>('context-menu');

	import type {} from 'svelte';

	const openContextMenu = (e: any) => {
		let params = {
			x: e.clientX,
			y: e.clientY,
			opts: [
				{
					text: 'Edit',
					callback: () => console.log('it was called')
				},
				{
					text: 'Move',
					callback: () => console.log('thing was moved')
				},
				{
					text: 'Delete',
					callback: () => console.log('thing was deleted')
				}
			]
		};
		p.open(params);
	};
</script>

<div
	on:click|preventDefault={() => OpenEditCardModal(card)}
	on:contextmenu|preventDefault={openContextMenu}
>
	{card.title}
</div>

<style>
	div {
		display: block;
		height: 100px;
		margin: 5px;
		background-color: #c4dfaa;
		border: 1px solid black;
	}
</style>
