<script lang="ts">
	import type { CardT } from '$lib/api/card';

	export let buttonText: string;
	export let card = {} as CardT;
	export let closeFunc: () => void;
	export let submitFunc: (c: CardT) => void;

	function onSubmit() {
		console.log('adding card: ', card);
		submitFunc(card);
		closeFunc();
	}
</script>

<form on:submit|preventDefault={onSubmit}>
	<div>
		<label for="name">Title</label>
		<input id="title" type="text" name="title" bind:value={card.title} />
	</div>
	<div>
		<label for="name">Body</label>
		<input id="body" type="text" name="body" bind:value={card.body} />
	</div>
	<button type="submit">{buttonText}</button>
</form>
