<script lang="ts">
	import type { ColumnT } from '$lib/api/column';

	export let col: ColumnT;
	export let updateCol: (c: ColumnT) => void;

	import type { CardT } from '$lib/api/card';
	import Card from './Card.svelte';
	import AddCard from './AddCard.svelte';

	import { AddCard as AddCardBE } from '$lib/api/card';
	import { UpdateColumn } from '$lib/api/column';

	import { getContext } from 'svelte';
	import { getBoardContext } from './context';
	import ColumnModal from './ColumnModal.svelte';

	// TODO Not good, should be isolated
	import type {
		ContextMenuParams,
		ContextMenuContext
	} from '$lib/components/MyContextMenu/ContextMenu.type';

	export let contextMenu: ContextMenuParams;

	const { open, close } = getContext<any>('simple-modal');
	const board = getBoardContext().board;

	const OpenEditColumnModal = (col: ColumnT) =>
		open(ColumnModal, {
			buttonText: 'Create',
			close: close,
			col: col,
			submitFunc: (c: ColumnT) =>
				UpdateColumn({
					boardID: board.id,
					column: c
				})
		});

	const addCard = (c: CardT) => {
		c.columnID = col.id;
		AddCardBE({
			boardID: board.id,
			card: c,
			columnID: col.id
		});

		col.cards.push(c);
		col = col;
	};

	const p = getContext<ContextMenuContext>('context-menu');

	const openContextMenu = (e: any) => {
		contextMenu.x = e.clientX;
		contextMenu.y = e.clientY;
		p.open(contextMenu);
	};

	// Drag and Drop
	// add the id tag to it for the drag-and-drop library
	let cards = col.cards.map((v, i) => ({ id: i, data: v }));

	import { dndzone } from 'svelte-dnd-action';
	import { flip } from 'svelte/animate';
	const flipDurationMs = 300;
	function handleDnDConsider(e: any) {
		cards = e.detail.items;
	}
	function handleDnDDrop(e: any) {
		cards = e.detail.items;
		updateCol(col);
	}
</script>

<div>
	<h2 on:click={() => OpenEditColumnModal(col)}>{col.name}</h2>
	<section
		use:dndzone={{ items: cards, flipDurationMs: flipDurationMs }}
		on:consider={handleDnDConsider}
		on:finalize={handleDnDDrop}
		on:contextmenu|preventDefault={openContextMenu}
	>
		{#each cards as card (card.id)}
			<div animate:flip={{ duration: flipDurationMs }}>
				<Card card={card.data} />
			</div>
		{/each}
	</section>
	<AddCard submit={addCard} />
</div>

<style>
	div {
		background-color: #cdf0ea;
		height: 80%;
		width: 200px;
		text-align: center;
	}
</style>
