<script lang="ts">
	import type { ColumnT } from '$lib/api/column';

	export let buttonText = '';
	export let col = {} as ColumnT;
	export let close: () => void;
	export let submitFunc: (c: ColumnT) => void;

	function onSubmit() {
		console.log(col);
		submitFunc(col);
		close();
	}
</script>

<form on:submit|preventDefault={onSubmit}>
	<div>
		<label for="name">Title</label>
		<input type="text" id="title" name="title" bind:value={col.name} />
	</div>
	<button type="submit">{buttonText}</button>
</form>
