<script lang="ts">
	import type { BoardT } from '$lib/api/board';
	import NavBar from '$lib/components/NavBar/NavBar.svelte';
	import Board from '$lib/components/Board/Board.svelte';

	export let data: BoardT;
</script>

<NavBar />
<Board board={data} />
