<script lang="ts">
	import { getContext } from 'svelte';
	import type { BoardT, BoardInfoT } from '$lib/api/board';

	// TODO not very good abstraction. Shouldn't import other modules
	import BoardModal from '$lib/components/Board/BoardModal.svelte';

	const { open, close } = getContext<any>('simple-modal');

	export let boardList: BoardInfoT[] = [];
	export let chooseBoard: (boardID: number) => void;
	export let createBoard: (b: BoardInfoT) => void;

	const OpenCreateBoardModal = () =>
		open(BoardModal, {
			buttonText: 'Create',
			close: close,
			submitFunc: (b: BoardInfoT) => createBoard(b)
		});
</script>

<div>
	Available boards:
	{#each boardList as board}
		<button on:click={() => chooseBoard(board.id)}>{board.name}</button>
	{/each}
	<button on:click={() => OpenCreateBoardModal()}>New</button>
</div>

<style>
	div {
		font-size: 20px;
	}

	button {
		display: flex;
	}

	* {
		justify-content: center;
		text-align: center;
		margin: auto;
	}
</style>
