<!-- Taken from https://dev.to/promatia/svelte-loading-state-indicator-promises-5c5n -->
<script lang="ts">
	import { onMount, onDestroy } from 'svelte';

	let text = '';
	let timer: NodeJS.Timer;
	let timerFunc = () => {
		if (text.length === 3) text = '';
		text += '.';
	};

	onMount(() => (timer = setInterval(timerFunc, 1000)));
	onDestroy(() => clearInterval(timer));
</script>

<div class="LoadingIndicator">
	{text}
</div>

<style>
	.LoadingIndicator {
		display: flex;
		background: rgba(0, 0, 0, 0.2);
		justify-content: center;
		align-items: center;
		text-align: center;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 20;
		font-size: 60px;
	}
</style>
