<script lang="ts">
	import {
		GetBoard,
		CreateBoard,
		GetBoardList,
		type BoardT,
		type BoardInfoT
	} from '$lib/api/board';

	import ContextMenu from '$lib/components/MyContextMenu/ContextMenu.svelte';
	import Modal from 'svelte-simple-modal';

	import BoardSelector from '$lib/components/BoardSelector/BoardSelector.svelte';

	import LoadingScreen from '$lib/components/LoadingScreen/LoadingScreen.svelte';
	import { redirect } from '@sveltejs/kit';

	console.log('loaded app');

	// Used to hold state and also judge the progress of the initial loading phase
	let err: any;
	export let boardList: BoardInfoT[];

	function chooseBoard(boardID: number) {
		redirect(302, '/board/' + boardID);
	}

	function createBoard(b: BoardInfoT) {
		CreateBoard(fetch, b.name).then((_) => redirect(302, '/board/' + b.id));
	}
</script>

<main>
	<ContextMenu>
		<Modal>
			{#if err}
				encountered error: {err}
			{:else}
				<BoardSelector {createBoard} {chooseBoard} {boardList} />
			{/if}
		</Modal>
	</ContextMenu>
</main>
